In [1]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import MetaData, text, String, Float, Integer, Boolean, ForeignKey, Select, func, Table
from sqlalchemy import JSON
from sqlalchemy.orm import sessionmaker, DeclarativeBase, Mapped, mapped_column, relationship
from typing import Optional, List 

pd.set_option('display.max_columns', 100)

engine = sqlalchemy.create_engine('postgresql://verzochia:verzochia@localhost:5432/db_v1')
conn = engine.connect()
metadata = MetaData()

In [2]:
df_transco_prep = pd.read_csv('../../data/explo/dictionnaire_donnees.csv')

In [3]:
df_transco_p1 = df_transco_prep[['nom_annexe', 'nom_champ', 'enum']]
df_transco_p2 = df_transco_p1.dropna(subset='enum')

print(df_transco_p1.shape[0])
print(df_transco_p2.shape[0])

564
111

In [4]:
df_transco_p2['nom_annexe'].drop_duplicates()

2                          NPNRU
14                    FluxCroise
23            FormationProJeunes
31                   FondAideEco
45     FondEuropeenProgrammation
54                  FondEuropeen
66           FondCommHebergement
71         ServiceFerroviaireTer
84         ServiceFerroviaireBud
97          ContratCouvReference
108                         Pret
120                 Etab_Service
149                         APCP
174                    Provision
190        Amortissement_Methode
192                 Contrat_Couv
229                  Ventilation
245                    Personnel
264                   Patrimoine
286               OrganismeGroup
292                 OrganismeEng
300                Consolidation
310                    Fiscalite
339                   UnConcours
349              AutreEngagement
376                          PPP
379                   CreditBail
396                        Tiers
407                       Charge
416                   Tresorerie
427                      Emprunt
526                 EnTeteBudget
539                  LigneBudget
562          EnTeteDocBudgetaire
Name: nom_annexe, dtype: object

In [5]:
df_transco_p2 = df_transco_p2[~df_transco_p2['nom_champ'].isin(['MtSup', 'CaracSup', 'TypeEtab'])]
df_transco_p2 = df_transco_p2[~df_transco_p2['nom_annexe'].isin(['NPNRU'])]

In [6]:
df_transco_p2

,nom_annexe,nom_champ,enum
14,FluxCroise,CodTypFlux,{'01': 'Flux réciproques entre le groupement à...
15,FluxCroise,CodInvFonc,"{'I': 'Investissement', 'F': 'Fonctionnement'}"
16,FluxCroise,CodRD,"{'R': 'Recette', 'D': 'Dépense'}"
23,FormationProJeunes,CodRDTot,"{'R': 'Recette', 'D': 'Dépense'}"
24,FormationProJeunes,CodRessExt,"{'O': 'Oui', 'N': 'Non'}"
...,...,...,...
526,EnTeteBudget,SpecifBudget,"{'1': '(M14_COM_INF500, M14_COM_500_3500, M14_..."
539,LigneBudget,CodRD,"{'R': 'Recette', 'D': 'Dépense'}"
547,LigneBudget,OpBudg,"{'0': 'Opération réelle ou mixte', '1': ""Opéra..."
548,LigneBudget,TypOpBudg,"{'1': ""Opération à l'intérieur d'une section"",..."
562,EnTeteDocBudgetaire,CategColloc,"{'Commune': 'Commune', 'Département': 'Départe..."

In [7]:
df_transcov2 = df_transco_p2[['nom_champ', 'enum']]
df_transcov3 = df_transcov2.drop_duplicates()
print(df_transcov2.shape[0])
print(df_transcov3.shape[0])

106
89

In [8]:
df_transcov3.to_csv('../../data/explo/dictionnaire_v2.csv')

In [9]:
df_transcov3

               nom_champ                                               enum
14            CodTypFlux  {'01': 'Flux réciproques entre le groupement à...
15            CodInvFonc     {'I': 'Investissement', 'F': 'Fonctionnement'}
16                 CodRD                   {'R': 'Recette', 'D': 'Dépense'}
23              CodRDTot                   {'R': 'Recette', 'D': 'Dépense'}
24            CodRessExt                           {'O': 'Oui', 'N': 'Non'}
..                   ...                                                ...
518  CodProfilAmortReneg  {'C': 'Amortissement constant', 'P': 'Amortiss...
526         SpecifBudget  {'1': '(M14_COM_INF500, M14_COM_500_3500, M14_...
547               OpBudg  {'0': 'Opération réelle ou mixte', '1': "Opéra...
548            TypOpBudg  {'1': "Opération à l'intérieur d'une section",...
562          CategColloc  {'Commune': 'Commune', 'Département': 'Départe...

[89 rows x 2 columns]

In [16]:
dico_donnees = {j['nom_champ']: eval(j['enum']) for i, j in df_transcov3.iterrows()}
dico_donnees.keys()

if 'Codrd' in dico_donnees.keys() : 
    print('Pas victime de casse')
elif 'CodRD' in dico_donnees.keys() : 
    print('Sensible à la casse')
else :
    print('Apprends à écrire ')

Sensible à la casse