In [1]:
import psycopg2
from psycopg2 import sql

alchemy, gere comme python
copg2, gere comme postgres

In [2]:
con = psycopg2.connect(dbname='db_v1',
      user= 'postgres',
       host='',
       port = '5432')


cursor = con.cursor()

In [3]:
type(con)

psycopg2.extensions.connection

Chech des tables + du fait qu'on se connecte bien à la table

In [30]:
cursor.execute("""select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';""")
print(cursor.fetchall())

[('bloc_budget',), ('doc_budget',), ('data_concours',)]

In [10]:
supression_table_budget = ''' DROP TABLE 
 Doc_Budget, Bloc_Budget, Etablissement, Data_Charge, Data_Concours'''
cursor.execute(supression_table_budget)

--------------------

Query pour créer les tables

In [31]:
table_blocbudget_query = """
    CREATE TABLE Bloc_Budget (
        ID SERIAL PRIMARY KEY,
        Id_Fichier INT NOT NULL,
        Nomenclature VARCHAR,
        Exer INT,
        TypOpBudg INT,
        Operation VARCHAR,
        Nature VARCHAR,
        ContNat VARCHAR,
        LibCpte VARCHAR,
        Fonction VARCHAR,
        ContFon VARCHAR,
        ArtSpe BOOLEAN,
        CodRD VARCHAR,
        MtBudgPrec FLOAT,
        MtRARPrec FLOAT,
        MtPropNouv FLOAT,
        MtPrev FLOAT,
        OpBudg BOOLEAN,
        CredOuv FLOAT,
        MtRAR3112 FLOAT,
        MtReal FLOAT,
        ContOp VARCHAR,
        OpeCpteTiers VARCHAR,
        MtSup VARCHAR,
        APVote FLOAT,
        Brut FLOAT,
        BudgetHorsRAR FLOAT,
        Comp VARCHAR,
        ICNE FLOAT,
        ICNEPrec FLOAT,
        MtOpeCumul FLOAT,
        MtOpeInfo FLOAT,
        Net FLOAT,
        ProdChaRat FLOAT,
        RARPrec FLOAT,
        CaracSup VARCHAR,
        TypOpe INT,
        Section VARCHAR,
        ChapSpe VARCHAR,
        ProgAutoLib VARCHAR,
        ProgAutoNum VARCHAR,
        VirCredNum VARCHAR,
        CodeRegion INT
    )"""

table_docbudget_query = '''  CREATE TABLE Doc_Budget  (
    Id_Fichier INT UNIQUE NOT NULL,
    Nomenclature VARCHAR,
    Exer SMALLINT,
    Siret BIGINT,
    Siren BIGINT,
    CodColl VARCHAR,
    LibelleColl VARCHAR,
    DteStr TIMESTAMP,
    date_precise TIMESTAMP WITH TIME ZONE,
    DteDec TIMESTAMP,
    DteDecEx TIMESTAMP,
    NumDec VARCHAR,
    IdPost VARCHAR,
    LibellePoste VARCHAR,
    LibelleEtabPal VARCHAR,
    IdEtabPal BIGINT,
    LibelleEtab VARCHAR,
    IdEtab BIGINT,
    NatDec VARCHAR,
    NatVote VARCHAR,
    OpeEquip BOOLEAN,
    CodInseeColl VARCHAR,
    VoteFormelChap BOOLEAN,
    TypProv SMALLINT,
    BudgPrec SMALLINT,
    RefProv VARCHAR,
    ReprRes SMALLINT,
    NatFonc SMALLINT,
    PresentationSimplifiee BOOLEAN,
    DepFoncN2 FLOAT,
    RecFoncN2 FLOAT,
    DepInvN2 FLOAT,
    RecInvN2 FLOAT,
    CodTypBud VARCHAR,
    CodBud VARCHAR,
    ProjetBudget BOOLEAN,
    Affect VARCHAR,
    SpecifBudget BIGINT,
    FinJur BIGINT,
    md5 VARCHAR,
    sha1 VARCHAR )'''

table_etablissement_query = ''' CREATE TABLE Etablissement (
 Siret INTEGER UNIQUE NOT NULL,
 Siren INTEGER, 

 codeCommuneEtablissement VARCHAR, 
 CODGEO VARCHAR, 
 LIBGEO VARCHAR, 
 DEP VARCHAR,
 REG VARCHAR,
 EPCI VARCHAR,
 
 libelleCommuneEtablissement VARCHAR,
 denominationUniteLegale VARCHAR,  
 libelleCategorieJuridique VARCHAR,
 
 categorieJuridiqueUniteLegale INTEGER, 
 sigleUniteLegale VARCHAR, 
 dateCreationUniteLegale TIMESTAMP
 )'''

table_charge_query = ''' CREATE TABLE Data_Charge (
 ID SERIAL PRIMARY KEY,
 Id_Fichier INTEGER, 
 Exer_Doc INTEGER,
 Exer INTEGER,
 CodTypeCharge VARCHAR,
 NatDepTransf VARCHAR,
 DureeEtal INTEGER, 
 DtDelib TIMESTAMP,
 MtDepTransf FLOAT,
 MtAmort FLOAT,
 MtDotAmort FLOAT, 
 Champ_Editeur VARCHAR
 ) ''' 

table_concours_query =  ''' CREATE TABLE Data_concours ( 
 ID SERIAL PRIMARY KEY,
 Id_Fichier INTEGER,
 Exer_doc INTEGER, 
 CodArticle VARCHAR, 
 CodInvFonc VARCHAR, 
 CodNatJurBenefCA VARCHAR, 
 LibOrgaBenef VARCHAR,
 MtSubv FLOAT, 
 LibPrestaNat VARCHAR, 
 DenomOuNumSubv VARCHAR,  
 NatDec VARCHAR, 
 ObjSubv VARCHAR, 
 Siret VARCHAR,  
 PopCommune INTEGER,
 Champ_Editeur VARCHAR 
 )'''

In [26]:
def supression_table(conn) : 
 ''' Supprimes les tables doc_budget, bloc_budget, etablissement, 
    data_charge, data_concours'''   
 try : 
    cursor = conn.cursor()
    cursor.execute(''' 
    DROP TABLE IF EXISTS Doc_Budget;
    DROP TABLE IF EXISTS Bloc_Budget;
    DROP TABLE IF EXISTS Etablissement;
    DROP TABLE IF EXISTS Data_Charge;
    DROP TABLE IF EXISTS Data_Concours;
    ''')
    conn.commit()

 except psycopg2.Error as e :
    print('Table non supprimée')
    print(e)
    conn.rollback()

 finally :
    cursor.close()

In [20]:
def creation_table(conn, requete_table) :
 try : 
  cursor = conn.cursor()
  cursor.execute(requete_table)
  conn.commit()

 except psycopg2.Error as e :
    print('Table non crée, raison : ')
    print(e)
    conn.rollback()

 finally :
    cursor.close()

In [33]:
TABLES = [table_blocbudget_query, 
        table_docbudget_query, 
        table_etablissement_query,
        table_charge_query,
        table_concours_query ]

for i in TABLES : 
    creation_table(con, i)

In [32]:
supression_table(conn= con)