In [1]:
import sqlalchemy
import pandas as pd 

engine = sqlalchemy.create_engine('postgresql://verzochia:verzochia@localhost:5432/db_v2')
conn = engine.connect()

def charcutage(code) : 
  if len(code) == 3:
    return code[1:]
  elif len(code) >= 4:
    return code[2:]
  else:
    return code

In [2]:
fco = pd.read_parquet('./parquet/Fonction_Compte_2020.parquet')
fco = fco.add_suffix('_fonc_compte')
fco = fco.rename(columns = {'Exer_fonc_compte' : 'Exer', 'Nomenclature_fonc_compte' : 'Nomenclature'})
fco['Exer'] = fco['Exer'].astype(str)

fch = pd.read_parquet('./parquet/Fonction_Chapitre_2020.parquet')
fch = fch.add_suffix('_fonc_chap')
fch = fch.rename(columns = {'Exer_fonc_chap' : 'Exer', 'Nomenclature_fonc_chap' : 'Nomenclature'})
fch['Exer'] = fch['Exer'].astype(str)

fref = pd.read_parquet('./parquet/Fonction_Referentiel_2020.parquet')
fref = fref.add_suffix('_fonc_ref')
fref = fref.rename(columns = {'Exer_fonc_ref' : 'Exer', 'Nomenclature_fonc_ref' : 'Nomenclature'})
fref['Exer'] = fref['Exer'].astype(str)

nco = pd.read_parquet('./parquet/Nature_Compte_2020.parquet')
nco = nco.add_suffix('_nat_compte')
nco = nco.rename(columns = {'Exer_nat_compte' : 'Exer', 'Nomenclature_nat_compte' : 'Nomenclature'})
nco['Exer'] = nco['Exer'].astype(str)

nch = pd.read_parquet('./parquet/Nature_Chapitre_2020.parquet')
nch = nch.add_suffix('_nat_chap')
nch = nch.rename(columns = {'Exer_nat_chap' : 'Exer', 'Nomenclature_nat_chap' : 'Nomenclature'})
nch['Exer'] = nch['Exer'].astype(str)

In [3]:
fco[fco['Code_fonc_compte'].str.endswith('423')]

,Exer,Nomenclature,Code_fonc_compte,DEquip_fonc_compte,DOES_fonc_compte,DOIS_fonc_compte,DR_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,REquip_fonc_compte,ROES_fonc_compte,ROIS_fonc_compte,RR_fonc_compte,RegrTotalise_fonc_compte,Supprime_fonc_compte,SupprimeDepuis_fonc_compte
111,2020,M57-M57,90423,None,None,None,None,Personnes âgées,Personnes âgées,None,None,None,None,None,None,None
350,2020,M57-M57,93423,None,None,None,None,Personnes âgées,Personnes âgées,None,None,None,None,None,None,None
61,2020,M14-M14_COM_SUP3500,90423,1,,,904,Colonies de vacances,Colonies de vacances,1,,,904,None,None,None
184,2020,M14-M14_COM_SUP3500,92423,0,,,924,Colonies de vacances,Colonies de vacances,0,,,924,None,None,None

In [6]:

fco_mixte = fco.copy()
fco_mixte['Code_mixte'] = fco_mixte['Code_fonc_compte'].apply(charcutage)
fco_mixte = fco_mixte.drop_duplicates(subset=['Code_mixte', 'Nomenclature','Exer'], keep='first')
fco_mixte['code_chap_mixte'] = fco_mixte['DOES_fonc_compte'] + fco_mixte['DOIS_fonc_compte'] + fco_mixte['DR_fonc_compte']
fco_mixte = fco_mixte[['Exer','Nomenclature','Code_fonc_compte','Lib_court_fonc_compte','Libelle_fonc_compte','Code_mixte','code_chap_mixte']]
fco_mixte[(fco_mixte['Code_fonc_compte'].str.endswith('53')) & (fco_mixte['Nomenclature'] == 'M14-M14_COM_SUP3500')]

,Exer,Nomenclature,Code_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,Code_mixte,code_chap_mixte
34,2020,M14-M14_COM_SUP3500,90253,Sport scolaire,Sport scolaire,253,902

In [7]:

fco.to_sql('fonction_compte',engine , if_exists = 'append', index = False, method = 'multi')
fch.to_sql('fonction_chapitre',engine , if_exists = 'append', index = False, method = 'multi')
fref.to_sql('fonction_referentielle',engine , if_exists = 'append', index = False, method = 'multi')
nch.to_sql('nature_chapitre',engine , if_exists = 'append', index = False, method = 'multi')
nco.to_sql('nature_compte',engine , if_exists = 'append', index = False, method = 'multi')

23799

In [8]:
fco_mixte = fco_mixte[['Exer','Nomenclature','Code_fonc_compte','Lib_court_fonc_compte','Libelle_fonc_compte','Code_mixte','code_chap_mixte']]
fco_mixte.to_sql('fonction_compte_mixte',engine , if_exists = 'append', index = False, method = 'multi')

618

In [9]:
dico_transco = pd.read_csv('../../data/explo/dictionnaire_v2.csv')
dico_transco = dico_transco.drop(columns=['Unnamed: 0']) 
dico_transco

              nom_champ                                               enum
0            CodTypFlux  {'01': 'Flux réciproques entre le groupement à...
1            CodInvFonc     {'I': 'Investissement', 'F': 'Fonctionnement'}
2                 CodRD                   {'R': 'Recette', 'D': 'Dépense'}
3              CodRDTot                   {'R': 'Recette', 'D': 'Dépense'}
4            CodRessExt                           {'O': 'Oui', 'N': 'Non'}
..                  ...                                                ...
84  CodProfilAmortReneg  {'C': 'Amortissement constant', 'P': 'Amortiss...
85         SpecifBudget  {'1': '(M14_COM_INF500, M14_COM_500_3500, M14_...
86               OpBudg  {'0': 'Opération réelle ou mixte', '1': "Opéra...
87            TypOpBudg  {'1': "Opération à l'intérieur d'une section",...
88          CategColloc  {'Commune': 'Commune', 'Département': 'Départe...

[89 rows x 2 columns]

In [10]:
dico_transco.to_sql('transcodage', engine, if_exists = 'append', index = False, method = 'multi')

89

In [23]:
conn.close

In [24]:
fco_mixte[(fco_mixte['Code_mixte'] == '423') & (fco_mixte['Nomenclature'].str.contains('M14'))]

,Exer,Nomenclature,Code_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,Code_mixte,code_chap_mixte
61,2020,M14-M14_COM_SUP3500,90423,Colonies de vacances,Colonies de vacances,423,904
184,2020,M14-M14_COM_SUP3500,92423,Colonies de vacances,Colonies de vacances,423,924