Si les temp tables seront utilisées, ça me permet de ne pas ré écrire un bout de code. 
Découpage selon la logique métier des Types de votes

Objo : 
Faire les jointures de bloc_budget directement sur les paquets de données plutôt que fichier par fichier

In [2]:
import pandas as pd 
import sqlalchemy
import polars as pl 

engine = sqlalchemy.create_engine(f'postgresql://verzochia:verzochia@localhost:5432/db_v2')

nat_chap = pd.read_sql('Select * from nature_chapitre', engine).drop(columns = 'id')
nat_compte = pd.read_sql('Select * from nature_compte', engine).drop(columns = 'id')
fonc_chap = pd.read_sql('Select * from fonction_chapitre', engine).drop(columns = 'id')
fonc_compte = pd.read_sql('Select * from fonction_compte', engine).drop(columns = 'id')
fonc_mixte = pd.read_sql('Select * from fonction_compte_mixte', engine).drop(columns = 'id')

In [2]:
LISTE_COL_MINIMALE_BUDGET = [
 'Id_Fichier','Nomenclature', 'Exer', 'TypOpBudg','Operation', 'Nature', 'ContNat',
 'LibCpte', 'Fonction', 'ContFon', 'ArtSpe', 'CodRD', 'MtBudgPrec', 'MtRARPrec',
 'MtPropNouv', 'MtPrev', 'OpBudg', 'CredOuv','MtReal', 'MtRAR3112', 'ContOp', 'OpeCpteTiers',
 'MtSup', 'MtSup_APVote', 'MtSup_Brut', 'MtSup_BudgetHorsRAR', 'MtSup_Comp', 'MtSup_ICNE', 'MtSup_ICNEPrec',
 'MtSup_MtOpeCumul', 'MtSup_MtOpeInfo', 'MtSup_Net', 'MtSup_MtPropNouv', 'MtSup_ProdChaRat', 'MtSup_RARPrec',
 'CaracSup', 'CaracSup_TypOpe', 'CaracSup_Section', 'CaracSup_ChapSpe',
 'CaracSup_ProgAutoLib', 'CaracSup_ProgAutoNum','CaracSup_VirCredNum', 'CaracSup_CodeRegion', 'code_nat_chap']

df_vide = pd.DataFrame(columns= LISTE_COL_MINIMALE_BUDGET)

In [3]:

def _jointure_libelle_nature_chap(df : pd.DataFrame,
                                df_nature_chap : pd.DataFrame) -> pd.DataFrame :
  ''' Necessite l'existence d'une colonne opération, qui est normalement optionnelle'''
  if 'Operation' in df.columns : 
    for index, row in df.iterrows():
      if row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_nat_chap'] = row['DOES_nat_compte']
        df.at[index, 'type_nature'] = 'DOES'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_nat_chap'] = row['ROES_nat_compte']
        df.at[index, 'type_nature'] = 'ROES'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_nat_chap'] = row[ 'DOIS_nat_compte']
        df.at[index, 'type_nature'] = 'DOIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_nat_chap'] = row[ 'ROIS_nat_compte']
        df.at[index, 'type_nature'] = 'ROIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.isna(row['Operation']):
        df.at[index, 'code_nat_chap'] = row['RR_nat_compte']
        df.at[index, 'type_nature'] = 'RR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.isna(row['Operation']):
        df.at[index, 'code_nat_chap'] = row['DR_nat_compte']
        df.at[index, 'type_nature'] = 'DR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.notna(row['Operation']):
        df.at[index, 'code_nat_chap'] = row['DEquip_nat_compte']
        df.at[index, 'type_nature'] = 'DEquip'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.notna(row['Operation']):
        df.at[index, 'code_nat_chap'] = row['REquip_nat_compte']
        df.at[index, 'type_nature'] = 'REquip'
  else :
    for index, row in df.iterrows():
      if row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_nat_chap'] = row['DOES_nat_compte']
        df.at[index, 'type_nature'] = 'DOES'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_nat_chap'] = row['ROES_nat_compte']
        df.at[index, 'type_nature'] = 'ROES'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_nat_chap'] = row['DOIS_nat_compte']
        df.at[index, 'val_prise'] = 'DOIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_nat_chap'] = row['ROIS_nat_compte']
        df.at[index, 'type_nature'] = 'ROIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) :
        df.at[index, 'code_nat_chap'] = row['RR_nat_compte']
        df.at[index, 'type_nature'] = 'RR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) :
        df.at[index, 'code_nat_chap'] = row['DR_nat_compte']
        df.at[index, 'type_nature'] = 'DR' 

  df['code_nat_chap'] = df['code_nat_chap'].astype(str)
  df = df.merge(df_nature_chap, 
                left_on = ['Exer','Nomenclature','code_nat_chap'],
                right_on = ['Exer','Nomenclature','Code_nat_chap'],
                how = 'left')
  return df

def _jointure_libelle_fonction_chap(df : pd.DataFrame, 
                        df_fonction_chap : pd.DataFrame) -> pd.DataFrame : 
  ''' Necessite l'existence d'une colonne opération, qui est normalement optionnelle'''
  if 'Operation' in df.columns : 
    for index, row in df.iterrows():
      if row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_fonc_chap'] = row['DOES_fonc_compte']
        df.at[index, 'type_fonction'] = 'DOES'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_fonc_chap'] = row['ROES_fonc_compte']
        df.at[index, 'type_fonction'] = 'ROES'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_fonc_chap'] = row[ 'DOIS_fonc_compte']
        df.at[index, 'type_fonction'] = 'DOIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_fonc_chap'] = row['ROIS_fonc_compte']
        df.at[index, 'type_fonction'] = 'ROIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.isna(row['Operation']):
        df.at[index, 'code_fonc_chap'] = row['RR_fonc_compte']
        df.at[index, 'type_fonction'] = 'RR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.isna(row['Operation']):
        df.at[index, 'code_fonc_chap'] = row['DR_fonc_compte']
        df.at[index, 'type_fonction'] = 'DR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.notna(row['Operation']):
        df.at[index, 'code_fonc_chap'] = row['DEquip_fonc_compte']
        df.at[index, 'type_fonction'] = 'DEquip'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) and pd.notna(row['Operation']):
        df.at[index, 'code_fonc_chap'] = row['REquip_fonc_compte']
        df.at[index, 'type_fonction'] = 'REquip'
  else :
    for index, row in df.iterrows():
      if row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_fonc_chap'] = row['DOES_fonc_compte']
        df.at[index, 'type_fonction'] = 'DOES'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == 'Opération de section à section':
        df.at[index, 'code_fonc_chap'] = row['ROES_fonc_compte']
        df.at[index, 'type_fonction'] = 'ROES'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_fonc_chap'] = row['DOIS_fonc_compte']
        df.at[index, 'type_fonction'] = 'DOIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération d'ordre" and row['TypOpBudg'] == "Opération à l'intérieur d'une section":
        df.at[index, 'code_fonc_chap'] = row['ROIS_fonc_compte']
        df.at[index, 'type_fonction'] = 'ROIS'
      elif row['CodRD'] == 'Recette' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) :
        df.at[index, 'code_fonc_chap'] = row['RR_fonc_compte']
        df.at[index, 'type_fonction'] = 'RR'
      elif row['CodRD'] == 'Dépense' and row['OpBudg'] == "Opération réelle ou mixte" and pd.isna(row['TypOpBudg']) :
        df.at[index, 'code_fonc_chap'] = row['DR_fonc_compte']
        df.at[index, 'type_fonction'] = 'DR' 

  df['code_fonc_chap'] = df['code_fonc_chap'].astype(str)
  df = df.merge(df_fonction_chap, 
                left_on = ['Exer','Nomenclature','code_fonc_chap'],
                right_on = ['Exer','Nomenclature','Code_fonc_chap'],
                how = 'left')
  return df

def _jointure_fonction(df_budget : pd.DataFrame, 
                              val_NatFonc : str, 
                              df_fonction_compte : pd.DataFrame, 
                              df_fonction_chap : pd.DataFrame, 
                              df_fonction_mixte : pd.DataFrame) -> pd.DataFrame :
  ''' Permet d'automatiser les jonctions des fonction WIP '''
  if val_NatFonc == '1' : 
    None 
  elif val_NatFonc == '2' : 
    df_budget = df_budget.merge(df_fonction_compte,
                  left_on = ['Nomenclature','Exer','Fonction'],
                  right_on = ['Nomenclature','Exer','Code_fonc_compte'],
                  how = 'left')
    df_budget = _jointure_libelle_fonction_chap(df_budget, df_fonction_chap)

  elif val_NatFonc == '3' :
    df_budget = df_budget.merge(df_fonction_mixte,
                  left_on = ['Nomenclature','Exer','Fonction'],
                  right_on = ['Nomenclature','Exer','Code_mixte'],
                  how = 'left')
    df_budget = df_budget.merge(df_fonction_chap,
                  left_on = ['Nomenclature','Exer','code_chap_mixte'], 
                  right_on = ['Nomenclature','Exer','Code_fonc_chap'], 
                  how = 'left')
    df_budget.drop(columns = ['Section_fonc_chap', 'Special_fonc_chap'])

  return df_budget 

def _jointure_nature(df_budget : pd.DataFrame,
                  df_nature_chap : pd.DataFrame,
                  df_nature_compte : pd.DataFrame) -> pd.DataFrame : 

  df_budget = df_budget.merge(df_nature_compte,
                  left_on = ['Nomenclature','Exer','Nature'],
                  right_on = ['Nomenclature','Exer','Code_nat_compte'],
                  how = 'left')
  df_budget = _jointure_libelle_nature_chap(df_budget, df_nature_chap)
  return df_budget 

def jointure_libelle_comptable(df_budget : pd.DataFrame, 
                        df_nature_chap : pd.DataFrame,
                        df_nature_compte : pd.DataFrame, 
                        df_fonction_chap : pd.DataFrame, 
                        df_fonction_compte : pd.DataFrame, 
                        df_fonction_mixte : pd.DataFrame,
                        LISTE_COL_SUPPRESSION_BUDGET,
                        valeur_NatFonc) -> pd.DataFrame :

  df_budget = _jointure_nature(df_budget = df_budget, 
                            df_nature_chap = df_nature_chap,
                            df_nature_compte = df_nature_compte)
  df_budget = _jointure_fonction(df_budget, 
                            df_fonction_chap = df_fonction_chap,
                            df_fonction_compte = df_fonction_compte,
                            df_fonction_mixte = df_fonction_mixte, 
                            val_NatFonc = valeur_NatFonc
                            )

  for nom in LISTE_COL_SUPPRESSION_BUDGET : 
    if nom in df_budget.columns : 
      df_budget = df_budget.drop(columns = [nom])
  return df_budget

LISTE_COL_SUPPRESSION_BUDGET = [
  'Code_nat_compte', 'code_nat_chap', 'Code_nat_chap',
  'Code_fonc_compte','code_fonc_chap','Code_fonc_chap', 'Code_mixte',
  'code_chap_mixte']

In [4]:
for i in [3] : 
  df_concerne = pd.read_parquet(f'../data/bloc_parquet/bloc_budget_nat_{i}.parquet')
  df_concerne['Exer'] = df_concerne['Exer'].astype(str)
  df_concerne = jointure_libelle_comptable(df_budget = df_concerne, 
                        df_nature_chap = nat_chap,
                        df_nature_compte = nat_compte, 
                        df_fonction_chap = fonc_chap, 
                        df_fonction_compte = fonc_compte, 
                        df_fonction_mixte = fonc_mixte,
                        LISTE_COL_SUPPRESSION_BUDGET = LISTE_COL_SUPPRESSION_BUDGET,
                        valeur_NatFonc = f'{i}' )
  df_concerne.to_parquet(f'../data/bloc_parquet/nat_vote_{i}_propre.parquet') 
  print('NatFonc', i, 'fait !')

NatFonc 3 fait !

In [3]:
df3 = pd.read_parquet('../data/bloc_parquet/nat_vote_3_propre.parquet')
df3.columns

Index(['id', 'Id_Fichier', 'Nomenclature', 'Exer', 'TypOpBudg', 'Operation',
       'Nature', 'ContNat', 'LibCpte', 'Fonction', 'ContFon', 'ArtSpe',
       'CodRD', 'MtBudgPrec', 'MtRARPrec', 'MtPropNouv', 'MtPrev', 'OpBudg',
       'CredOuv', 'MtReal', 'MtRAR3112', 'ContOp', 'OpeCpteTiers', 'MtSup',
       'MtSup_APVote', 'MtSup_Brut', 'MtSup_BudgetHorsRAR', 'MtSup_Comp',
       'MtSup_ICNE', 'MtSup_ICNEPrec', 'MtSup_MtOpeCumul', 'MtSup_MtOpeInfo',
       'MtSup_Net', 'MtSup_MtPropNouv', 'MtSup_ProdChaRat', 'MtSup_RARPrec',
       'CaracSup', 'CaracSup_TypOpe', 'CaracSup_Section', 'CaracSup_ChapSpe',
       'CaracSup_ProgAutoLib', 'CaracSup_ProgAutoNum', 'CaracSup_VirCredNum',
       'CaracSup_CodeRegion', 'DEquip_nat_compte', 'DOES_nat_compte',
       'DOIS_nat_compte', 'DR_nat_compte', 'Lib_court_nat_compte',
       'Libelle_nat_compte', 'REquip_nat_compte', 'ROES_nat_compte',
       'ROIS_nat_compte', 'RR_nat_compte', 'RegrTotalise_nat_compte',
       'Supprime_nat_compte', 'SupprimeDepuis_nat_compte',
       'PourEtatSeul_nat_compte', 'type_nature', 'Lib_court_nat_chap',
       'Libelle_nat_chap', 'PourEtatSeul_nat_chap', 'Section_nat_chap',
       'Special_nat_chap', 'TypeChapitre_nat_chap', 'Lib_court_fonc_compte',
       'Libelle_fonc_compte', 'Lib_court_fonc_chap', 'Libelle_fonc_chap',
       'Section_fonc_chap', 'Special_fonc_chap', 'TypeChapitre_fonc_chap'],
      dtype='object')

In [12]:
fonc_mixte[(fonc_mixte['Code_fonc_compte'].str.endswith('52')) & (fonc_mixte['Nomenclature'] == 'M14-M14_COM_SUP3500')]

,Exer,Nomenclature,Code_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,Code_mixte,code_chap_mixte
525,2020,M14-M14_COM_SUP3500,90252,Transports scolaires,Transports scolaires,252,902
557,2020,M14-M14_COM_SUP3500,9052,Interventions sociales,Interventions sociales,52,None

In [7]:
pd.set_option('display.max_columns', 100)

In [33]:
liste_f_manque = df3[(~df3['Fonction'].isna()) & (df3['Libelle_fonc_chap'].isna())] \
  ['Fonction'].drop_duplicates().to_list()

In [40]:
df3[(~df3['Fonction'].isna()) & (df3['Libelle_fonc_chap'].isna())] \
  ['Nomenclature'].value_counts()

Nomenclature
M14-M14_COM_SUP3500     530673
M14-M14_CCAS_SUP3500    107130
M52-M52                  17715
M57-M57                  17364
M14-M14_COM_500_3500      1712
M14-M14_COM_INF500         516
M14-M14_CE                  22
Name: count, dtype: int64

In [29]:
df3[df3['Fonction'] == '055']['Libelle_fonc_chap'].value_counts()

Series([], Name: count, dtype: int64)

In [39]:
fonc_mixte[(fonc_mixte['Code_mixte'].isin(liste_f_manque)) & (~fonc_mixte['code_chap_mixte'].isna())]

,Exer,Nomenclature,Code_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,Code_mixte,code_chap_mixte
2,2020,M52-M52,9001,Opérations non ventilables,Opérations non ventilables,01,
5,2020,M52-M52,900201,Admin. géné. (personnel non ventilable),Administration générale de la collectivité (pe...,0201,900
6,2020,M52-M52,900202,Admin. géné. (autres moyens généraux),Administration générale de la collectivité (au...,0202,900
7,2020,M52-M52,90021,Assemblée locale,Assemblée locale,021,900
13,2020,M52-M52,9011,"Gendarmerie, police, sécurité, justice","Gendarmerie, police, sécurité, justice",11,901
...,...,...,...,...,...,...,...
597,2020,M14-M14_COM_SUP3500,9093,"Aides à l'énergie, indus. manufact., BTP","Aides à l'énergie, aux industries manufacturiè...",93,909
598,2020,M14-M14_COM_SUP3500,9094,"Aides commerce, services marchands",Aides au commerce et aux services marchands,94,909
599,2020,M14-M14_COM_SUP3500,9095,Aides au tourisme,Aides au tourisme,95,909
600,2020,M14-M14_COM_SUP3500,9096,Aides aux services publics,Aides aux services publics,96,909
613,2020,M14-M14_COM_SUP3500,934,Transferts entre sections,Transferts entre sections,34,934

In [41]:
import polars as pl

In [45]:
pl1 = pl.read_parquet('../data/bloc_parquet/propre/nat_vote_1_propre.parquet')
pl2 = pl.read_parquet('../data/bloc_parquet/propre/nat_vote_2_propre.parquet')
pl3 = pl.read_parquet('../data/bloc_parquet/propre/nat_vote_3_propre.parquet')

In [54]:
plt = pl.concat([pl1,pl2,pl3], how = 'diagonal_relaxed')

In [88]:
plt.columns

['id',
 'Id_Fichier',
 'Nomenclature',
 'Exer',
 'TypOpBudg',
 'Operation',
 'Nature',
 'ContNat',
 'LibCpte',
 'Fonction',
 'ContFon',
 'ArtSpe',
 'CodRD',
 'MtBudgPrec',
 'MtRARPrec',
 'MtPropNouv',
 'MtPrev',
 'OpBudg',
 'CredOuv',
 'MtReal',
 'MtRAR3112',
 'ContOp',
 'OpeCpteTiers',
 'MtSup',
 'MtSup_APVote',
 'MtSup_Brut',
 'MtSup_BudgetHorsRAR',
 'MtSup_Comp',
 'MtSup_ICNE',
 'MtSup_ICNEPrec',
 'MtSup_MtOpeCumul',
 'MtSup_MtOpeInfo',
 'MtSup_Net',
 'MtSup_MtPropNouv',
 'MtSup_ProdChaRat',
 'MtSup_RARPrec',
 'CaracSup',
 'CaracSup_TypOpe',
 'CaracSup_Section',
 'CaracSup_ChapSpe',
 'CaracSup_ProgAutoLib',
 'CaracSup_ProgAutoNum',
 'CaracSup_VirCredNum',
 'CaracSup_CodeRegion',
 'DEquip_nat_compte',
 'DOES_nat_compte',
 'DOIS_nat_compte',
 'DR_nat_compte',
 'Lib_court_nat_compte',
 'Libelle_nat_compte',
 'REquip_nat_compte',
 'ROES_nat_compte',
 'ROIS_nat_compte',
 'RR_nat_compte',
 'RegrTotalise_nat_compte',
 'Supprime_nat_compte',
 'SupprimeDepuis_nat_compte',
 'PourEtatSeul_nat_compte',
 'type_nature',
 'Lib_court_nat_chap',
 'Libelle_nat_chap',
 'PourEtatSeul_nat_chap',
 'Section_nat_chap',
 'Special_nat_chap',
 'TypeChapitre_nat_chap',
 'DEquip_fonc_compte',
 'DOES_fonc_compte',
 'DOIS_fonc_compte',
 'DR_fonc_compte',
 'Lib_court_fonc_compte',
 'Libelle_fonc_compte',
 'REquip_fonc_compte',
 'ROES_fonc_compte',
 'ROIS_fonc_compte',
 'RR_fonc_compte',
 'RegrTotalise_fonc_compte',
 'Supprime_fonc_compte',
 'SupprimeDepuis_fonc_compte',
 'type_fonction',
 'Lib_court_fonc_chap',
 'Libelle_fonc_chap',
 'Section_fonc_chap',
 'Special_fonc_chap',
 'TypeChapitre_fonc_chap']

In [89]:
plt.write_parquet('../data/bloc_parquet/prep_damien_bloc_budget_valo/test_py_arrow.parquet', 
            use_pyarrow=True,
            pyarrow_options={"partition_cols": ["Nomenclature"]},)

In [78]:
pl1 = plt[1:500000]
pl1.write_parquet('../data/bloc_parquet/prep_damien_bloc_budget_valo/test_.parquet')

In [79]:
size = 500000
plt.shape[0] / size

12.481838

In [84]:
print(pl1.select('Id_Fichier')[1])

shape: (1, 1)
┌────────────┐
│ Id_Fichier │
│ ---        │
│ str        │
╞════════════╡
│ 699352     │
└────────────┘

In [90]:
actual_size = 0 
size_end = 500000
for i in range(13) : 
  pli = plt[actual_size:size_end]
  pli.write_parquet(f'../data/bloc_parquet/decoupage/bloc_budget_{i}.parquet')
  actual_size += size
  size_end += size

In [99]:
ll = df3[~(df3['Fonction'].isna()) & (df3['Libelle_fonc_chap'].isna())]['Fonction'].to_list()

In [107]:
fonc_chap[fonc_chap['Code_fonc_chap'] == '909']

,Exer,Nomenclature,Code_fonc_chap,Lib_court_fonc_chap,Libelle_fonc_chap,Section_fonc_chap,Special_fonc_chap,TypeChapitre_fonc_chap
34,2020,M52-M52,909,Développement,Développement,I,0,C
90,2020,M57-M57,909,Fonction en réserve,(Fonction en réserve),I,0,C
128,2020,M71-M71,909,Action économique,Action économique,I,0,C
165,2020,M14-M14_COM_SUP3500,909,Action économique,Action économique,I,0,C

In [106]:
fonc_compte[(fonc_compte['Code_fonc_compte'].str.endswith('93')) & (fonc_compte['Nomenclature'] == 'M14-M14_COM_SUP3500')]

,Exer,Nomenclature,Code_fonc_compte,DEquip_fonc_compte,DOES_fonc_compte,DOIS_fonc_compte,DR_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,REquip_fonc_compte,ROES_fonc_compte,ROIS_fonc_compte,RR_fonc_compte,RegrTotalise_fonc_compte,Supprime_fonc_compte,SupprimeDepuis_fonc_compte
1195,2020,M14-M14_COM_SUP3500,9093,1,,,909,"Aides à l'énergie, indus. manufact., BTP","Aides à l'énergie, aux industries manufacturiè...",1,,,909,None,None,None
1317,2020,M14-M14_COM_SUP3500,9293,0,,,929,"Aides à l'énergie, indus. manufact., BTP","Aides à l'énergie, aux industries manufacturiè...",0,,,929,None,None,None
1321,2020,M14-M14_COM_SUP3500,93,None,None,None,None,Services communs non ventilés,Services communs non ventilés,None,None,None,None,1,None,None

In [101]:
fonc_mixte[(fonc_mixte['Code_mixte'].isin(ll)) & (~fonc_mixte['code_chap_mixte'].isna())]

,Exer,Nomenclature,Code_fonc_compte,Lib_court_fonc_compte,Libelle_fonc_compte,Code_mixte,code_chap_mixte
2,2020,M52-M52,9001,Opérations non ventilables,Opérations non ventilables,01,
5,2020,M52-M52,900201,Admin. géné. (personnel non ventilable),Administration générale de la collectivité (pe...,0201,900
6,2020,M52-M52,900202,Admin. géné. (autres moyens généraux),Administration générale de la collectivité (au...,0202,900
7,2020,M52-M52,90021,Assemblée locale,Assemblée locale,021,900
13,2020,M52-M52,9011,"Gendarmerie, police, sécurité, justice","Gendarmerie, police, sécurité, justice",11,901
...,...,...,...,...,...,...,...
597,2020,M14-M14_COM_SUP3500,9093,"Aides à l'énergie, indus. manufact., BTP","Aides à l'énergie, aux industries manufacturiè...",93,909
598,2020,M14-M14_COM_SUP3500,9094,"Aides commerce, services marchands",Aides au commerce et aux services marchands,94,909
599,2020,M14-M14_COM_SUP3500,9095,Aides au tourisme,Aides au tourisme,95,909
600,2020,M14-M14_COM_SUP3500,9096,Aides aux services publics,Aides aux services publics,96,909
613,2020,M14-M14_COM_SUP3500,934,Transferts entre sections,Transferts entre sections,34,934

In [103]:
df3[(df3['Nomenclature'] == 'M14-M14_COM_SUP3500') & (df3['Fonction'] == '96')]['Libelle_fonc_chap']

4589       Action économique
6941       Action économique
6967       Action économique
6996       Action économique
7020       Action économique
                 ...
3031392    Action économique
3031422    Action économique
3031449    Action économique
3031483    Action économique
3031530    Action économique
Name: Libelle_fonc_chap, Length: 4044, dtype: object

In [4]:
pd.set_option('display.max_columns', 100)

In [3]:
pd_siren = pd.read_parquet('../data/explo/infos_siren_siret_cog_collectivites.parquet')
pd_siren.head()

,siren,statutDiffusionUniteLegale,unitePurgeeUniteLegale,dateCreationUniteLegale,sigleUniteLegale,sexeUniteLegale,prenom1UniteLegale,prenom2UniteLegale,prenom3UniteLegale,prenom4UniteLegale,...,CV,ZE2020,UU2020,TUU2017,TDUU2017,AAV2020,TAAV2017,TDAAV2017,CATEAAV2020,BV2022
0,130001589,O,None,2005-12-25,CDAD,None,None,None,None,None,...,0199,8405,01501,5,51,080,2,24,11,01053
1,130001589,O,None,2005-12-25,CDAD,None,None,None,None,None,...,0199,8405,01501,5,51,080,2,24,11,01053
2,130001605,O,None,2005-12-25,CDAD,None,None,None,None,None,...,1598,8403,15401,4,43,123,2,22,11,15014
3,130001613,O,None,2005-12-25,CDAD,None,None,None,None,None,...,3099,7618,30601,6,62,037,3,32,11,30189
4,130001621,O,None,2005-12-25,CDAD,None,None,None,None,None,...,3299,7604,32401,4,42,145,2,21,11,32013

In [4]:
pd_siren['nomUniteLegale'].value_counts()

Series([], Name: count, dtype: int64)

In [6]:
l_col = ['siren', 'statutDiffusionUniteLegale', 'dateCreationUniteLegale',
      'sigleUniteLegale','trancheEffectifsUniteLegale','anneeEffectifsUniteLegale', 
      'dateDernierTraitementUniteLegale','nombrePeriodesUniteLegale','categorieEntreprise', 
      'anneeCategorieEntreprise','dateDebut','etatAdministratifUniteLegale',
      'denominationUniteLegale','categorieJuridiqueUniteLegale','activitePrincipaleUniteLegale',
      'nomenclatureActivitePrincipaleUniteLegale','libelleCategorieJuridique','siret',
      'dateCreationEtablissement','anneeEffectifsEtablissement', 'trancheEffectifsEtablissement',
      'complementAdresseEtablissement','libelleCommuneEtablissement','codePostalEtablissement',
      'codeCommuneEtablissement', 'CODGEO', 'LIBGEO', 'DEP', 'REG', 'EPCI' ,'NATURE_EPCI', 'ARR']

pd_siren1 = pd_siren[['CODGEO','LIBGEO', 'DEP', 'REG', 'EPCI', 'NATURE_EPCI', 'libelleCategorieJuridique', 'siren' ,'siret' ,
'denominationUniteLegale' ]]

l_anne = ['anneeEffectifsUniteLegale', 'anneeCategorieEntreprise', 'anneeEffectifsEtablissement']

In [8]:
pd_siren1.shape

(425231, 10)

In [9]:
pd_siren1.to_parquet('../data/explo/info_siren_coupe.parquet')

In [12]:
pd_siren1.shape

(425231, 10)

Changement de document_budgetaire

In [10]:
df_doc = pd.read_parquet('../data/bloc_parquet/document_budgetaire_prep.parquet')

In [11]:
df_doc.shape

(81953, 41)

In [17]:
df_doc[df_doc['Siret'].isna()]

Empty DataFrame
Columns: [Id_Fichier, Nomenclature, Exer, Siret, Siren, CodColl, DteStr, Date, DteDec, DteDecEx, NumDec, IdPost, LibellePoste, LibelleColl, IdEtabPal, LibelleEtabPal, LibelleEtab, IdEtab, NatDec, NatVote, OpeEquip, CodInseeColl, VoteFormelChap, TypProv, BudgPrec, RefProv, ReprRes, NatFonc, PresentationSimplifiee, DepFoncN2, RecFoncN2, DepInvN2, RecInvN2, CodTypBud, CodBud, ProjetBudget, Affect, SpecifBudget, FinJur, Md5, Sha1]
Index: []

[0 rows x 41 columns]

In [18]:
pd_siren1.head(1)

,CODGEO,LIBGEO,DEP,REG,EPCI,NATURE_EPCI,libelleCategorieJuridique,siren,siret,denominationUniteLegale
0,01053,Bourg-en-Bresse,01,84,200071751,CA,Groupement d'intérêt public (GIP),130001589,13000158900014,CONSEIL DEP DE L'ACCES AU DROIT

In [25]:
df_doc1 = df_doc.merge(pd_siren1, left_on= 'Siret', right_on= 'siret', how = 'left')
#df_doc1 = df_doc1.drop(columns= ['siret','siren'])
#df_doc1.to_parquet('../data/bloc_parquet/document_budgetaire_siret.parquet')

In [26]:
df_doc1[df_doc1['siret'].isna()].shape[0] / df_doc1.shape[0] * 100

2.4623869779019683