In [2]:
import polars as pl  
import pandas as pd 
import sqlalchemy

In [ ]:
pl_document_budgetaire = pl.read_database_uri('''SELECT * from document_budgetaire''',
          uri = 'postgresql://verzochia:verzochia@localhost:5432/db_v1' )
pl_document_budgetaire.write_parquet('../data/bloc_parquet/document_budgetaire.parquet')

In [ ]:
for df_pol in pl.read_database(''' SELECT *
           FROM bloc_budget LIMIT 50''', 
           connection= engine, 
           iter_batches = True, 
           batch_size = 10000, 
           schema_overrides = {
               'ContFon' : pl.String(),
               'OpeCpteTiers' : pl.String(),
               'MtSup_Comp' : pl.String(),
               'MtSup_APVote' : pl.Float32(),
               'MtSup_ICNE' : pl.Float32(),
               'MtSup_ICNEPrec' : pl.Float32(),
               "MtSup_Brut" : pl.Float32(),
               'MtSup_Net' : pl.Float32(),
               'MtSup_RARPrec' : pl.String(),
               'CaracSup_ChapSpe' : pl.String(),
               'CaracSup_ProgAutoLib' : pl.String()
               }) :
    print(df_pol)

In [3]:
dfp = pd.read_sql('Select Distinct "Nomenclature" from bloc_budget LIMIT 50', engine)
liste_nomenclature = dfp['Nomenclature'].to_list()
liste_requete = []
for i in liste_nomenclature : 
  liste_requete.append(f'''Select * from bloc_budget where "Nomenclature" = '{i}' ''')
liste_requete

            Nomenclature
0              M57-M57_A
1   M14-M14_CCAS_SUP3500
2                 M4-M41
3               M4-M49_A
4               M4-M43_D
5   M14-M14_CCAS_INF3500
6               M4-M49_D
7     M14-M14_COM_INF500
8                M52-M52
9                M61-M61
10              M4-M43_A
11   M14-M14_COM_SUP3500
12             M57-M57_D
13            M14-M14_CE
14                M4-M42
15                M4-M44
16                 M4-M4
17                M4-M43
18  M14-M14_COM_500_3500
19               M71-M71
20               M57-M57

In [ ]:
pl.read_database_uri(f'''Select b.* 
                                FROM bloc_budget as b 
                                LEFT JOIN document_budgetaire as d 
                                ON b."Id_Fichier" = d."Id_Fichier"
                                WHERE d."NatDec" = 9    ''', 
           uri= 'postgresql://verzochia:verzochia@localhost:5432/db_v1', 
           schema_overrides = {
               'ContFon' : pl.String(),
               'OpeCpteTiers' : pl.String(),
               'MtSup_Comp' : pl.String(),
               'MtSup_APVote' : pl.Float32(),
               'MtSup_ICNE' : pl.Float32(),
               'MtSup_ICNEPrec' : pl.Float32(),
               "MtSup_Brut" : pl.Float32(),
               'MtSup_Net' : pl.Float32(),
               'MtSup_RARPrec' : pl.String(),
               'CaracSup_ChapSpe' : pl.String(),
               'CaracSup_ProgAutoLib' : pl.String()
               }).lazy().sink_parquet(f'../data/bloc_parquet/bloc_bucget.parquet')

In [3]:
for i in liste_nomenclature : 
  df_pol = pl.read_database_uri(f'''Select b.* 
                                FROM bloc_budget as b 
                                LEFT JOIN document_budgetaire as d 
                                ON b."Id_Fichier" = d."Id_Fichier"
                                WHERE b."Nomenclature" = '{i}' 
                                  AND d."NatDec" = 9    ''', 
           uri= 'postgresql://verzochia:verzochia@localhost:5432/db_v1', 
           schema_overrides = {
               'ContFon' : pl.String(),
               'OpeCpteTiers' : pl.String(),
               'MtSup_Comp' : pl.String(),
               'MtSup_APVote' : pl.Float32(),
               'MtSup_ICNE' : pl.Float32(),
               'MtSup_ICNEPrec' : pl.Float32(),
               "MtSup_Brut" : pl.Float32(),
               'MtSup_Net' : pl.Float32(),
               'MtSup_RARPrec' : pl.String(),
               'CaracSup_ChapSpe' : pl.String(),
               'CaracSup_ProgAutoLib' : pl.String()
               }).lazy().sink_parquet(f'../data/bloc_parquet/budget_multi/budget_{i}.parquet')
  print('Nomenclature', i, 'fait')

In [6]:
LISTE_TABLE_ANNEXE = ["data_formation_pro_jeunes", "data_contrat_couv", "data_concours", "data_service_ferroviaire_patrim",
                        "data_charge", "data_autre_engagement", "bloc_budget", "data_service_ferroviaire_ter",
                        "data_fond_europeen_programmation", "data_organisme_group", "data_tiers", "data_sommaire",
                        "data_flux_croises", "data_apcp", "data_fond_comm_hebergement", "data_personnel",
                        "data_credit_bail", "data_patrimoine", "data_dette", "data_amortissement_methode",
                        "document_budgetaire", "data_etab_service", "data_emprunt", "data_personnel_solde",
                        "data_fond_aides_eco", "data_signataire", "data_tresorerie", "data_provision",
                        "data_fiscalite", "data_consolidation", "data_signature", "data_ventilation", "data_ppp",
                        "data_contrat_couv_reference", "data_formation", "data_pret", "data_recette_affectee",
                        "data_membresasa", "data_organisme_eng", "data_service_ferroviaire_bud", "data_fond_europeen"]

In [2]:
l_natfonc = ['1','2','3']

Extraction bloc_budget par type de votes

In [5]:
df_pol = pl.read_database_uri(f''' 
              SELECT b.* 
              FROM bloc_budget as b 
              LEFT JOIN document_budgetaire as d
              ON b."Id_Fichier" = d."Id_Fichier"
              WHERE d."NatDec" = 9 
              AND d."Exer" = '2020' 
              AND d."NatFonc" = {i} ''', 
        uri= 'postgresql://verzochia:verzochia@localhost:5432/db_v1',
        schema_overrides = {
              'ContFon' : pl.String(),
              'OpeCpteTiers' : pl.String(),
              'MtSup_Comp' : pl.String(),
              'MtSup_APVote' : pl.Float32(),
              'MtSup_ICNE' : pl.Float32(),
              'MtSup_ICNEPrec' : pl.Float32(),
              "MtSup_Brut" : pl.Float32(),
              'MtSup_Net' : pl.Float32(),
              'MtSup_RARPrec' : pl.String(),
              'CaracSup_ChapSpe' : pl.String(),
              'CaracSup_ProgAutoLib' : pl.String()
              }).lazy().sink_parquet(f'../data/bloc_parquet/bloc_budget_nat_{i}.parquet')
  print('data', i, 'fait')

data 1 fait
data 2 fait
data 3 fait

In [7]:
for i in LISTE_TABLE_ANNEXE : 
  df_pol = pl.read_database_uri(f'''Select b.* 
                                FROM {i} as b 
                                LEFT JOIN document_budgetaire as d 
                                ON b."Id_Fichier" = d."Id_Fichier"
                                WHERE d."NatDec" = 9  ''', 
           uri= 'postgresql://verzochia:verzochia@localhost:5432/db_v1', 
           schema_overrides = {
               'ContFon' : pl.String(),
               'OpeCpteTiers' : pl.String(),
               'MtSup_Comp' : pl.String(),
               'MtSup_APVote' : pl.Float32(),
               'MtSup_ICNE' : pl.Float32(),
               'MtSup_ICNEPrec' : pl.Float32(),
               "MtSup_Brut" : pl.Float32(),
               'MtSup_Net' : pl.Float32(),
               'MtSup_RARPrec' : pl.String(),
               'CaracSup_ChapSpe' : pl.String(),
               'CaracSup_ProgAutoLib' : pl.String()
               }).lazy().sink_parquet(f'../data/bloc_parquet/data_{i}.parquet')
  print('data', i, 'fait')

data data_formation_pro_jeunes fait
data data_contrat_couv fait
data data_concours fait
data data_service_ferroviaire_patrim fait
data data_charge fait
data data_autre_engagement fait
data bloc_budget fait
data data_service_ferroviaire_ter fait
data data_fond_europeen_programmation fait
data data_organisme_group fait
data data_tiers fait
data data_sommaire fait
data data_flux_croises fait
data data_apcp fait
data data_fond_comm_hebergement fait
data data_personnel fait
data data_credit_bail fait
data data_patrimoine fait
data data_dette fait
data data_amortissement_methode fait
data document_budgetaire fait
data data_etab_service fait
data data_emprunt fait
data data_personnel_solde fait
data data_fond_aides_eco fait
data data_signataire fait
data data_tresorerie fait
data data_provision fait
data data_fiscalite fait
data data_consolidation fait
data data_signature fait
data data_ventilation fait
data data_ppp fait
data data_contrat_couv_reference fait
data data_formation fait
data data_pret fait
data data_recette_affectee fait
data data_membresasa fait
data data_organisme_eng fait
data data_service_ferroviaire_bud fait
data data_fond_europeen fait

In [5]:
pll = pl.read_parquet('../data/bloc_parquet/data_bloc_budget.parquet').lazy()
pll.select(pl.len()).collect()

shape: (1, 1)
┌─────────┐
│ len     │
│ ---     │
│ u32     │
╞═════════╡
│ 8486193 │
└─────────┘

Extraction doc budgetaire

In [6]:
df_pol = pl.read_database_uri(f''' 
              SELECT * 
              FROM document_budgetaire
              WHERE "Exer" = '2020' ''', 
        uri= 'postgresql://verzochia:verzochia@localhost:5432/db_v1',
   
              ).lazy().sink_parquet(f'../data/bloc_parquet/document_budgetaire_prep.parquet')